@font-face {
    font-family: 'OstrichSansBold';
    src:  url('fonts/ostrich-sans-bold.woff') format('woff');
}
@font-face {
    font-family: 'OstrichSansLight';
    src:  url('fonts/ostrich-sans-light.woff') format('woff');
}

body {
    background: #f7f7f7;
    color: #292929;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'OstrichSansBold', sans-serif;
    font-size: 110px;
    margin: 0;
}

h2 {
    color: #FC4349;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin: 0 0 30px;
}

a {
    color: #FC4349;
    text-decoration: none;
}

main {
    width: 60%;
    margin: 15% auto 15%;
}

.presentation {
    font-size: 24px;
    line-height: 40px;
    margin: 10px auto;
    max-width: 700px;
}

.social {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.social li {
    display: inline-block;
    margin: 0 10px 20px;
}

.social svg {
    height: 40px;
    fill: #292929;
    transition: fill 0.3s ease-out;
}

.social .icon {
    content: ' ';
    display: block;
    height: 40px;
    border-radius: 50%;
    position: initial;
    padding: 3px;
    width: 40px;
    border: 4px solid #292929;
    transition: border 0.3s ease-out;
}

.social .icon:hover {
    border-color: #FC4349;
}

.social .icon:hover svg {
    fill: #FC4349;
}

@media (max-width: 650px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 30px;
    }

    .presentation {
        font-size: 20px;
        line-height: 34px;
    }

    .social svg {
        height: 35px;
    }
    
    .social .icon {
        height: 35px;
        width: 35px;
    }
}